.character-item{
	-moz-border-radius:5px 5px 5px 5px;
	background-color:#E3E3E3;
	display:block;
	margin-bottom:10px;
	padding:10px;
	font-size: 9px;
}

.col-right .block-efed_character {
background-color:#BBDAB8 !important;
border:1px solid #A7C2A4 !important;

}

.col-right .block-efed_character a {
color:#2A5026 !important;
}

.character-item .thumb .character_thumb {
	margin: 0px 10px 0px 0px !important;
	float: left;
}

.character-item .character-name {
	font-size: 18px;
	letter-spacing: 1px;
}

.character-item .date {
	font-style:italic;
	color:#616161;
}

.character-small{
	display:block;
	font-size: 9px;
}

.character-small .options {
	margin-bottom: 10px;
}

.character-small .thumb {
	text-align: right;
	margin: 0px 0px 0px 10px !important;
	float: right;
}

.character-small .thumb {
	-moz-border-radius:5px 5px 5px 5px;
}

.character-small .character-name {
	font-size: 18px;
	letter-spacing: 1px;
}

#efed-character-default-form {
	position: relative;
}

#efed-character-default-form .form-select {
	width: 120px;
}

#efed-character-default-form .form-submit {
	position: absolute;
	left: 130px;
	top: 20px;

}

.character-small .date {
	font-style:italic;
	color:#616161;
}

