div.show {
-moz-border-radius:5px 5px 5px 5px;
background-color:#E3E3E3;
display:block;
margin-bottom:10px;
padding:10px;
}

div.show .show-name {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

div.show img {
	float: left;
	margin-right: 10px;
}

div.show_scroller {
	position: relative;
}

div.show_scroller div.match{
	text-align: right;
	color: #fff;
	width: 300px;
	position: absolute;
	top: 10px;
	right: 10px;
}

div.show_scroller div.match div.title{
	font-size: 14px;
	font-weight: bold;
}

div.show_scroller div.match div.belt{
	font-style: italic;
}

div.show_scroller div.match p{
	margin: 0px;
}

