#efed-result-admin-form .form-item{
	float: left;
	margin-right: 10px;
}

.block-efed_result .content{
	padding: 0px !important;
}

.info {
	border: 0px;
	-moz-border-radius:5px 5px 5px 5px;
	background-color: #e3e3e3;
	padding: 10px !important;
	display: block;
	margin-bottom: 10px;
}
