/* put your custom CSS in here */

body{
    color: #0C1F2C;
    background-color: #3B6AA0;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin-bottom: 10px;
}

div.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.breadcrumb {
    text-transform:capitalize;
}

em{
    color: #616161;
}

a:link,
a:visited{
    color: #006CB4;
    text-decoration: none;
}
a:hover{
    color: #02243C;
    text-decoration: underline;
}

.messages {
    margin-bottom: 10px !important;
    -moz-border-radius: 5px;
}

#header {
    background-image: url(../images/wallpaper.jpg);
    background-position: top left;
    margin-bottom: 10px;
    height: 150px;
    border: solid 1px #e3e3e3;
    -moz-border-radius: 5px;
}

#header h1 {
    padding-top: 20px;
    padding-left: 20px;
}

#header h1 a{
    color: #fff;
}

#header #user-menu {
    background-color: #02243C;
    border-bottom: solid 1px #e3e3e3;
    height: 20px;
}

#header #user-menu h3{
    display: none;
}

#header #user-menu .block,
#header #user-menu ul{
    text-align: right;
    margin: 0px;
    padding: 0px;
}

#header #user-menu .block a{
    border-left: solid 1px #e3e3e3;
    display: block;
    font-size: 10px;
    padding: 1px 10px 0px 10px;
    height: 19px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#header #user-menu .block a:hover{
    background-color: #005DB3;
}

#header #user-menu ul li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: right;
}

#primary-links {
    background-color: #02243C;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: solid 1px #e3e3e3;
    -moz-border-radius: 5px;
}

#primary-links ul li{
    margin: 0px 6px 0px 0px;
    padding: 0px 10px 0px 0px;
    border-right: solid 1px #e3e3e3;
}

#primary-links ul li a{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

#primary-links ul li a:hover{
    color: #5195CE;
}

#primary-links ul li a.active{
    color: #5BC236;
}

#primary-links ul li.last{
    border: 0px;
}

#primary-links a{
    text-decoration: none;
    color: #fff;
}

ul.primary{
    margin: 0px;
}

ul.primary li a{
    color: #B6B9BB;
    padding-top: 0px;
    padding-bottom: 1px;
}

ul.primary li.active a{
    color: #0A324E;
}
.col-left .block,
.col-center .block,
.col-right .block {
    background-color: #F9F9F9;
    margin-bottom: 10px;
    border: solid 1px #e3e3e3;
    -moz-border-radius: 5px;
}

.col-left .block h3,
.col-center .block h3,
.col-right .block h3{
    margin-bottom: 5px;
    padding: 15px 10px;
    font-size: 15px;
    font-weight: bold;
}

.col-right .block-menu a{
    color: #2A5026;
}
.col-right .block-menu{
    background-color: #BBDAB8;
    border: solid 1px #A7C2A4;
    -moz-border-radius: 5px;

}

.border {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
}

#footer {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color:#FFFFFF;
    border:1px solid #E3E3E3;
    padding:10px;
}

.block {
    background: #eaeaea url(../images/block-bg.gif) 0 0 repeat-x;
    margin-bottom: 10px;
}

.col-center {
    background-color: #fff;
    border: solid 1px #E3E3E3;
    -moz-border-radius: 5px;
    padding: 10px;
    width: 688px !important;
    margin-bottom: 10px;
}

div.node {
    border-bottom:0px;
    margin:0px;
    padding:0px;
}

.page-home .col-center {
    background-color: transparent;
    -moz-border-radius:0px !important;
    border:0px !important;
    padding:0px !important;
    width: 710px !important;
}

.page-home .panel-col-first .panel-pane,
.page-home .panel-col-last .panel-pane {
    background: #eaeaea url(../images/block-bg.gif) 0 0 repeat-x;
    -moz-border-radius: 5px;
    margin-bottom: 10px;
}

.panel-2col-stacked .panel-col-top .inside {
    margin-bottom:10px;
}

.page-home .panel-col-first .panel-pane .pane-content,
.page-home .panel-col-last .panel-pane .pane-content {
    padding: 0px 10px 5px 10px;
}

.page-home .panel-col-first .panel-pane h2,
.page-home .panel-col-last .panel-pane h2{
    line-height: 1;
    margin-bottom: 5px;
    padding: 15px 10px;
    font-size: 15px;
    font-weight: bold;
}

.page-home .panel-col-first .panel-pane .pane-content h3,
.page-home .panel-col-last .panel-pane .pane-content h3 {
    font-size: 15px;
    line-height: 0.8;
}

#left .block .block-content { height: 232px; }

.col-left .block .content,
.col-center .block .content,
.col-right .block .content {
    padding: 0px 10px 5px 10px;
}

.col-left .block .content ul,
.col-center .block .content ul,
.col-right .block .content ul{
    margin: 0px;
    padding: 0px;
}

/**
	ROLEPLAY MATCH THEME
*/

.match_info {
    -moz-border-radius:5px 5px 5px 5px;
    background-color: #e3e3e3;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}
.submitted {
    font-size: 10px;
    font-style:italic;
    color:#616161;
    margin-bottom: 10px;
}

.col-left .block .content ul li,
.col-center .block .content ul li,
.col-right .block .content ul li{
    list-style: none;
}

#forum .container {
    width: auto !important;
    display:table-row-group;
}

.node-type-forum .indented {
    margin-left: 0px;
}

.forum-post-panel-main  {
    min-height:inherit;
}

.breadcrumb {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
    border-bottom: solid 1px #e3e3e3;
}

/**
* News home page
*/