.jcarousel-skin-efedsystem_right_block{
	position: relative;
}

.jcarousel-skin-efedsystem_right_block .jcarousel-container-horizontal {
    width: 230px;
}

.jcarousel-skin-efedsystem_right_block .jcarousel-clip-horizontal {
    width:  230px;
}
.jcarousel-skin-efedsystem_right_block ul {
	margin: 0px !important;
}
.jcarousel-skin-efedsystem_right_block li {
	background-image: none;
	padding: 0px;

}
.jcarousel-skin-efedsystem_right_block  ul li.jcarousel-item{
    width:  210px;
	margin: 0px;
	padding: 0px 10px;
	position: relative;
	height: auto;
}
.jcarousel-skin-efedsystem_right_block  ul li.jcarousel-item .content a{
	color: #e3e3e3;
}

.jcarousel-skin-efedsystem_right_block .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-efedsystem_right_block .jcarousel-prev-horizontal,
.jcarousel-skin-efedsystem_right_block .jcarousel-next-horizontal {
	position: absolute;
	bottom: 10px;

}
.jcarousel-skin-efedsystem_right_block .jcarousel-next-horizontal {
	right: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-efedsystem_right_block .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-efedsystem_right_block .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-efedsystem_right_block .jcarousel-next-disabled-horizontal,
.jcarousel-skin-efedsystem_right_block .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-efedsystem_right_block .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-efedsystem_right_block .jcarousel-prev-horizontal {
	right: 40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-efedsystem_right_block .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-efedsystem_right_block .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-efedsystem_right_block .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-efedsystem_right_block .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-efedsystem_right_block .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
